.container {
    text-align: center;
    margin-top: 50px;

}

#colourPicker {
    margin-bottom: 20px;

}

#previewBox {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 0 auto;
    
}